<configuration>
    <property name="LOG_HOME" value="./logs"/>
    <property name="LOG_FILE_NAME" value="naver_login"/>

    <!-- console 출력용 appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <pattern>%green([%d{yyyy/MM/dd HH:mm:ss.SSS}]) %highlight([%5p]) %yellow([%3t]) %yellow([%class{0}]) %m%n</pattern>
            </Pattern>
        </layout>
    </appender>

    <!-- .log 저장용 appender -->
    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %green([%d{yyyy/MM/dd HH:mm:ss.SSS}]) %highlight([%5p]) %yellow([%3t]) %yellow([%class{0}]) %m%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/${LOG_FILE_NAME}.%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="rolling"/>
    </root>
</configuration>
