<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!--gateway 파일구조에 맞춰서 수정-->
    <property name="LOG_HOME" value="./logs"/>
    <property name="LOG_FILE_NAME" value="spring_playground"/>

    <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <pattern>%clr([%d{yyyy/MM/dd HH:mm:ss.SSS}]){green} %clr([%5p]) %clr([%3t]){yellow} %clr([%class{0}]){yellow} %m%n</pattern>
            </Pattern>
        </layout>
    </appender>

    <appender name="main-log-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %clr([%d{yyyy/MM/dd HH:mm:ss.SSS}]){green} %clr([%5p]) %clr([%3t]){yellow} %clr([%class{0}]){yellow} %m%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/${LOG_FILE_NAME}.%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error/${LOG_FILE_NAME}_error.log</file>

        <!-- LevelFilter -->
        <!-- 특정 레벨만 필터링 한다. 특정 레벨만 허용하거나 특정 레벨만 제외할때 사용한다 .-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level> <!--ERROR Level의 로그만 출력-->
            <onMatch>ACCEPT</onMatch> <!--Level이 같은 경우 쓰기 허용-->
            <onMismatch>DENY</onMismatch> <!--Level이 다른 경우는 무시-->
        </filter>

        <!-- ThresholdFilter -->
        <!-- 설정한 레벨 이상의 모든 로그 이벤트를 허용한다. 아래와 같이 Level을 'WARN' 으로 설정하면 'WARN', 'ERROR' 레벨의 로그를 허용한다. -->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level> &lt;!&ndash; WARN Level 이상의 로그만 출력 &ndash;&gt;-->
<!--        </filter>-->


        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%clr([%d{yyyy/MM/dd HH:mm:ss.SSS}]){green} %clr([%5p]) %clr([%3t]){yellow} %clr([%class{0}]){yellow} %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/error/${LOG_FILE_NAME}_error.%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="console-appender"/>
        <appender-ref ref="main-log-appender"/>
        <appender-ref ref="error-appender"/>
    </root>

    <!-- 특정 클래스에 대해 로그 레벨 적용 -->
    <!-- AppController의 로그는 DEBUG 레벨까지 출력 -->
    <!-- 만약, main은 info만, console은 debug 레벨까지 출력하고 싶다면 console appender에 filter 추가 -->
    <!-- [additivity] 로그 전파 옵션 -->
<!--    <logger name="AppController" level="debug" additivity="false">-->
<!--        <appender-ref ref="console-appender"/>-->
<!--        <appender-ref ref="main-log-appender"/>-->
<!--    </logger>-->

    <!-- 특정 패키지에 대해 로그 레벨 적용 -->
<!--    <logger name="me.jisung.springplayground.product" level="debug" additivity="false">-->
<!--        <appender-ref ref="console-appender"/>-->
<!--        <appender-ref ref="main-log-appender"/>-->
<!--    </logger>-->


    <!-- Kafka 관련 로그 설정 -->
    <appender name="kafka-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/kafka/${LOG_FILE_NAME}_kafka.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%clr([%d{yyyy/MM/dd HH:mm:ss.SSS}]){green} %clr([%5p]) %clr([%3t]){yellow} %clr([%class{0}]){yellow} %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/kafka/${LOG_FILE_NAME}_kafka.%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework.kafka" level="INFO" additivity="false">
        <appender-ref ref="kafka-appender"/>
    </logger>
    <logger name="org.apache.kafka" level="INFO" additivity="false">
        <appender-ref ref="kafka-appender"/>
    </logger>

</configuration>
